* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

header img {
    width: 150px;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main-container {
    width: 1024px;
    max-width: 100%;
    padding: 1rem;
}

h1 {
    text-align: center;
    padding: 2rem;
    color: #42A5F5;
}

h2 {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: #42A5F5;
    font-weight: 500;
}

h3 {
    padding-top: 1rem;
    font-weight: 700;
}

p {
    padding: 0.5rem 0rem;
    text-align: justify;
}

ul {
    margin: 2rem;
}

li {
    padding: 0.5rem;
}

p {
    line-height: 1.7em;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 1rem;
    border: 1px solid black;
}

footer p {
    padding: 1rem;
    text-align: center;
}