* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.logo {
    width: 100px;
    height: auto;
}

.blue-button {
    background-color: #42A5F5;
    color: white;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}

.blue-dark {
    background-color: #03273f;
    color: white;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}

.button-cn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.button-cn * {
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    text-align: center;
}

.upper-case {
    text-transform: uppercase;
}

.big-title {
    font-size: 72px;
    text-align: center;
}

.sub-title {
    font-size: 24px;
    color: #444444;
    font-weight: normal;
}

.text-gray {
    color: #777777;
}

.normal-title {
    font-size: 48px;
    padding: 16px;
    text-align: center;
}

.large-title {
    width: 70vw;
    padding-top: 4rem;
}

.humbergers {
    display: none;
    color: black;
    font-size: 32px;
    background-color: transparent;
    border: none;
}

p {
    line-height: 1.7em;
}

@media screen and (max-width: 800px) {
    .normal-title {
        font-size: 24px;
        width: 100%;
        text-align: center;
    }

    .large-title {
        width: 100%;
    }

    .humbergers {
        padding-right: 16px;
        display: block;
    }

    .big-title {
        font-size: 48px;
    }

    .sub-title {
        font-size: 24px;
    }
}