.presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.court-voiturage-social {
  width: 30%;  
  padding: 1rem;
  min-width: 300px;
}

.court-voiturage-social > p {
    text-align: justify;
    padding: 0.4rem;
    color: #444444;
}

.float-feature {
    width: 50%;
    min-width: 300px;
}

.float-feature img {
    width: 100%;
}

.module > img {
    width: 200px;
    max-width: 100%;
}

.module > div {
    width: 40%;
    padding: 0.5rem;
    min-width: 300px;
}

.module p {
    font-size: 14px;
    padding-bottom: 1rem;
}

.module {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 4rem;
}

.modules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffffff, #eeeeee, #ffffff);
}

.module  h2 {
    font-weight: bold;
    padding-bottom: 1rem;
}
