.normal-title {
    margin-top: 80px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    box-shadow: 1px -2px 10px #cccccc;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
}

header nav {
    flex-grow: 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
    align-items: center;
}

header nav a {
    color: #000000;
    text-decoration: none;
    padding-right: 20px;
}

.main-header {
    padding-top: 160px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.main-header p {
    width: 70%;
}

.main-header .blue-button {
    padding: 16px 32px;
}

.avantages {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
}

.avantage h2 {
    text-align: center;
    font-size: 24px;
    color: #42A5F5;
    padding: 20px;
}

.avantage ul {
    list-style-type: none;
}

.avantage ul i {
    color: #42A5F5;
    padding-right: 20px;
    font-size: 24px;
}

.avantage ul li {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.conducteur h2, .conducteur ul i {
    color: #455A64;
}

.avantages-commun {
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: flex-start;
    padding: 20px;
    margin-top: 80px;
}

.avantage-illustration img {
    width: 250px;
    height: auto;
}

.avantage-illustration .left-img {
    display: flex;
    flex-direction: column;
}

.avantage-illustration {
    display: flex;
    flex-direction: row;
}

.img-conducteur {
    position: relative;
    bottom: 100px;
    left: 80px;
}

.img-passager {
    position: relative;
    bottom: 60px;
    left: 10px;
}

.avantage-illustration .img-route {
    z-index: 10;
    height: 300px;
    width: auto;
}

.avantages-commun ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
}

.avantages-commun ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 16px;
    font-size: 18px;
    align-items: center;
}

.avantages-commun ul li i {
    color: green;
    padding-right: 8px;
}

.float-feature {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40%;
    row-gap: 300px;
    height: 500px;
    justify-content: center;
    margin-top: 80px;
    padding: 20px;
}

.feature {
    width: 30vw;
    font-size: 18px;
    text-align: center;
    z-index: 10;
    background-color: #ffffffb6;
}

.feature-top {
    position: relative;
    bottom: 40px;
}

.float-feature .app-container {
    position: absolute;
    height: 30vh;
    width: 100vw;
    text-align: center;
}

.float-feature .app-container img {
    height: 400px;
    width: auto;
    z-index: -1000;
}

.testimonial i {
    font-size: 24px;
    color: #777777;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.testimonial .photo img{
    width: 100px;
    height: auto;
}

.testimonial p {
    text-align: center;
    width: 80%;
    padding: 20px;
    color: #777777;
}

.testimonial .photo {
    width: 100px;
    height: 100px;
    border-radius: 400px;
    overflow: hidden;

}

.contacts {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    margin-top: 40px;
}

.contacts input, textarea {
    border: 1px solid #777777;
    border-radius: 10px;
    padding: 16px 8px;
    margin: 8px;
}

.contacts .contact-form {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}

.contact-form .blue-button {
    text-align: center;
    width: fit-content;
    margin: 16px;
}

h2 {
    font-weight: lighter;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.socials i {
    font-size: 48px;
}


footer {
    background-color: #484848;
    color: #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    margin-top: 80px;
}

@media screen and (max-width: 800px) {

    main {
        width: 100vw;
        overflow-x: hidden;
        margin: 0px;
        padding: 0px;
    }

    .main-header {
        width: 100vw;
        margin-right: 0px;
        margin-left: 0px;
    }

    .avantages {
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .avantages h2 {
        text-align: start;
        margin-top: 20px;
    }

    .avantage {
        justify-content: center;
        align-items: center;
    }

    .large-title {
        width: 100%;
    }

    .avantages-commun {
        grid-template-columns: auto;
    }

    .float-feature .app-container img  {
        width: 80vw;
        height: auto;
        margin-top: 50px;
    }

    .float-feature {
        column-gap: 10%;
    }

    .float-feature .feature {
        width: 40vw;
    }

    .contacts {
        grid-template-columns: auto;
    }

    .contact-social {
        padding: 40px;
    }

    .header nav{
        flex-direction: column;
    }

    nav .nav-item {
        display: none;
    }

    .show-nav-item .nav-item {
        display: block;
        width: 100%;
        padding: 20px;
    }

    header {
        align-items: flex-start;
    }

    .show-nav-item {
        flex-direction: column;
        width: 100%;
    }

    .show-nav-item a {
        background-color: white;
    }

    .show-nav-item .blue-button {
        background-color: #42A5F5;
    }

    .avantage-illustration .img-route {
        position: relative;
        right: 200px;
        z-index: 1;
    }

    .avantage-illustration .img-passager, .avantage-illustration .img-conducteur {
        z-index: 10;
    }

    .avantage-illustration .img-conducteur {
        left: 10px;
    }

    .avantages-commun ul{
        padding: 16px;
    }

    .avantages-commun ul li {
        font-size: 14px;
    }
}