html {
    background-color: #fafafa;
}

.main-container {
    background: #FFFFFFcc;
}

section {
    padding-top: 6rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 1px 2px 20px #00000086;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999999999999;
    background-color: white;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header nav .nav-item {
    padding: 0.5rem;
    color: #777777;
    text-decoration: none;
}

header nav .blue-button {
    color: white;
    padding: 0.5rem 1rem;
}

header .show-nav-item {
    flex-direction: column;
}

.main-header {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
}

.main-header p {
    text-align: center;
}

.avantages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.avantage {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 400px;
    align-items: center;
    padding: 1rem;
}

.avantage img {
    height: 200px;
    max-width: 100%;
    border-radius: 1rem;
}

.avantage ul {
    list-style-type: none;
    padding: 2rem 0rem;
}

.avantage ul li {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-size: 1.1em;
}

.avantage ul li i {
    padding-right: 0.5rem;
    display: inline-block;
    font-size: 1.5em;
    color: #42A5F5;
}

.avantage h2 {
    text-align: center;
    padding: 1rem;
    font-weight: 400;
    color: #42A5F5;
}

.conducteur h2, .conducteur ul li i {
    color: #455A64;
} 

.avantages-commun {
    background: linear-gradient(#4242427c, #4242427c), url(../assets/img/route.jpg);
    background-size: contain;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.avantages-commun ul li {
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.avantages-commun ul li i {
    color: white;
    padding-right: 0.5rem;
}

.avantages-commun ul {
    width: 90%;
    list-style-type: none;
    padding: 1rem;
}

.photo-cn {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 150px;
    border: 4px solid #42A5F5;
}

.photo-cn img {
    width: 100%;
}

.testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.testimonial {
    width: 30%;
    min-width: 300px;
    padding: 1rem;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contacts > div {
    width: 40%;
    min-width: 300px;
}

.contacts > div h2 {
    padding: 1rem 0rem;
    font-weight: 300;
}

.contacts > .contact-form p, .contacts .contact-form a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 1rem;
    color: #777777;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
}

.contacts > .contact-form p i, .contacts .contact-form a i {
    color: #42A5F5;
    padding-right: 1rem;
    display: inline-block;
    font-size: 1.5em;
}

.socials {
    font-size: 2em;
}

.equipes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.person p {
    padding: 0.1rem;
    text-align: center;
}

.person .nom {
    color: #42A5F5;
    font-size: 1.5em;
}

.person .role {
    font-weight: bold;
    padding-top: 0.5rem;
}

.person .profil {
    color: #777777;
}

.person a {
    font-size: 2em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #444444;
    margin-top: 6rem;
    padding: 1rem;
}

footer a, footer p {
    color: #fafafa;
}

@media (max-width: 800px) {
    
    header nav {
        height: 0;
        width: 0;
        overflow: hidden;
    }
    
    header .show-nav-item {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem;
      background-color: #FFFFFF;
      height: 60vh;   
      width: 100%;
    }
}